<head>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
  <header>
    <a href="#" class="header-link">A link</a>
    <a href="#" class="header-link">Another link</a>
    <a href="#" class="header-link">A third link</a>
    <a href="#" class="header-link">A for-good-measure link</a>
  </header>
  <div class="main-content">
    <h1>MakersBNB Listings:</h1>
    <a id="post-listing" href="/listings/new">Post your own listing here</a>

    {{#each listings}}
      <p>
        <b>{{this.title}}:</b></br>
        {{this.details}}</br>
        Location: {{this.location}}
      </p>
      <div>
        <form action='listings/delete' method='post'>
          <input type="hidden" name="id" value="{{this.id}}">
          <input type="submit" value="Delete listing">
        </form>
      </div>
    {{/each}}


  </div>
</body>
