<head>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/styles.css" >
</head>
<body>
  <header>
    <a href="#" class="header-link">A link</a>
    <a href="#" class="header-link">Another link</a>
    <a href="#" class="header-link">A third link</a>
    <a href="#" class="header-link">A for-good-measure link</a>
  </header>
  <div class="main-content">
    <h1>MakersBNB Listings:</h1>
    <a id="post-listing" href="/listings/new">Post your own listing here</a>

    {{#each listings}}
      <p>
	<b>{{this.title}}:</b></br>
	{{this.details}}</br>
Location: {{this.location}}
</p>
<form>
  <input type="submit" value="Delete listing">
</form>
    {{/each}}


  </div>
</body>
