<head>
  <link rel="stylesheet" type="text/css" href="css/styles.css" >
</head>
<h1>Create a Listing on MakersBNB:</h1>
<form action="/listings/new" method="post">
  Title:
  <input type="text" name="title"/><br>
  <br>
  Details:<br>
  <textarea name="details" cols="70" rows="2" ></textarea><br>
  <br>
  <input type="submit" />
</form>
