<head>
  <link rel="stylesheet" type="text/css" href="/css/styles.css" >
</head>
<body>
  <header>
    <a href="#" class="header-link">A link</a>
    <a href="#" class="header-link">Another link</a>
    <a href="#" class="header-link">A third link</a>
    <a href="#" class="header-link">A for-good-measure link</a>
  </header>
  <div class="main-content">
    <h1>Create a Listing on MakersBNB:</h1>
    <form action="/listings/new" method="post">
      Title:
      <input type="text" name="title"/><br>
      <br>
      Details:<br>
      <textarea name="details" cols="45" rows="3" ></textarea><br>
      <br>
      <input type="submit" />
    </form>
  </div>
</body>
